<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetOrder</key>
		<real>506041947.412606</real>
	</dict>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetOrder</key>
		<dict>
			<key>55D0A728-85F1-4B7D-86DE-EF882CF892E4</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
